<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About</title>
    <link rel="stylesheet" type="text/css" href="../public/css/sticky.css">
      <link rel="shortcut icon" href="../public/image/ico.png" type="image/x-icon">
<style>

</style>
</head>

<body>

 <% include blocks/header.ejs %>
 
       <div class='mainReserv'>
         <div class = left>
         </div>
   <div class = 'center' id = 'center'>

<div class="accordion">
<ul>

  <li>
    <div> <a href="/gps">
    <h2>Контакты</h2>
      </a> </div>
  </li>
  <li>
    <div> <a href="/about/write">
  <h2>Отзывы</h2>
      </a> </div>
  </li>
  <li>
    <div> <a href="/we">
      <h2>Наша команда</h2>
      </a> </div>
  </li>
  <li>
    <div> <a href="/vacancy">
      <h2>Вакансии</h2>
      </a> </div>
  </li>
</ul>
</div>
       </div>
         <div class = right>
         </div>
       </div>


</body>
</html>
