<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GPS</title>
    <link rel="stylesheet" type="text/css" href="../public/css/gps.css">
      <link rel="shortcut icon" href="../public/image/ico.png" type="image/x-icon">
<style>

</style>
</head>

<body>

 <% include blocks/header.ejs %>

       <div class='mainReserv'>
         <div class = left>
         </div>
   <div class = 'center' id = 'center'>
     <div class = 'centerGPS' >
                     <div class='textAdress'>
                <p>Работаем для вас  с 10:00 до 00:00<br>
                  <p>Доставка осуществляется до 00:30.<br>
                  <p>Прием заказов до 23:00.

                <p>Номер телефона:<br>
                +375 29 820-95-24 МТС
                <p>г. Барановичи. ул. Уборевича д.8 <br>

                     </div>
                    <div class = 'map'>
                    <script type="text/javascript"
                    charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5d911b45042373fcd84d15fadccff55c471b5eba532477cfdebfbb76e2956e82&amp;width=663&amp;height=451&amp;lang=ru_RU&amp;scroll=true">
                    </script>
                  </div>
    </div>
</div>
         <div class = right>
         </div>

   </div>


</body>
</html>
