
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>la Villa</title>
  <link rel="shortcut icon" href="../public/image/ico.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
  <link rel="stylesheet" type="text/css" href="public/css/styleAnimation.css">
  <link rel="stylesheet" type="text/css" href="public/css/menu.css">
  <script src="../public/js/main.js"></script>
</head>
        <body>


<% include blocks/header.ejs %>

<div class = 'poppupAdd' id  = 'poppupAdd'>

</div>

<div class='mainReserv'>

  <div class = left>
  </div>

    <div class = 'center' id = 'center'>

          <div class = 'mainCenter'>

                  <div class = 'akcii'>
                    <h1> Акции </h1>
                        <div class = 'akciiText'>
                          В связи с началом сессии у группы ИСТзс - 41, <br> скидка на пиво "Heineken" <span class = 'spanPercent'>50</span> процентов!!!<br>
                          <span class = 'akciiPrice'>
                            3.00 руб.
                          </span>
                          <span class = 'newPrice'>
                            1.50 руб.
                          </span>
                        </div>
                        <div class = 'akciiGoToMenu'>
                            <a href = '/menu'>
                          Сделать заказ
                        </a>
                        </div>
                  </div>

                  <div class = 'delivery'>
                    <h1> Доставка </h1>
                        <div class = 'akciiText'>
                          При заказе, на сумму более 10 рублей, <br>доставка осуществляется бесплатно
                        </div>
                        <div class = 'akciiGoToMenu'>
                            <a href = '/menu'>
                          Перейти в меню
                        </a>
                        </div>
                  </div>

                  <div class='hits'>
                      ХИТЫ
                  </div>
                  <div class = 'topFood' id='topFood'>


                  </div>
          </div>
                </div>
        <div class = right>
        </div>
</div>
    </body>
</html>
