<!doctype html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="../public/image/ico.png" type="image/x-icon">
  <meta charset="utf-8" />
  <title>Mr. Pizza</title>
  <link rel="stylesheet" type="text/css" href="../public/css/write.css">
<script src="../public/js/write.js"></script>
</head>
<body>
  <% include blocks/header.ejs %>

  <div class='mainReserv'>

          <div class = left>

          </div>

    <div class = 'center' id = 'center'>

      <div class="post">
      <% for (var i=mainCenter.length-1; i >= 0; i--) { %>
        <div class = 'postEvery'>
            <h3>
            <%= mainCenter[i].name %>   </h3>
            
<div class = 'date'>
              <%= mainCenter[i].date  %>
</div>
<div class = 'comment'>
            <p><%= mainCenter[i].text  %></p>
</div>

    </div>
      <% } %>



      </div>
      <div class="mainEvent">


  <h1> Оставьте свой отзыв </h1>
  <br>
        <form action="/about/write" method="post">
          <div class='form'>
              <label for="date">Имя</label><br>
        <input  type="text" name="name" id="title" ><br>

  <input type="text" name="date" id="dateTime" value=date><br>

        <label for="text">Отзыв</label><br>
        <textarea name="text" id="content" cols="30" rows="10"></textarea><br>
        <button>Оставить отзыв</button>
      </div>
      </form>
        </div>
    </div>

          <div class = right>
          </div>
  </div>


</body>
</html>
