<link rel="stylesheet" type="text/css" href="../public/css/header.css">
<div class = 'allHeader'>

  <div class = leftHeader>
  <a href='/'>
  </a>
  </div>

      <div class=header>
              <ul>
              <div class = 'doubleCenter'>
            <li>
            <a href="/menu">Меню
            <span></span>
            <span></span>
            <span></span>
            <span></span></a>
            </li>

            <li>
            <a href="/about">О нас
            <span></span>
            <span></span>
            <span></span>
            <span></span></a>
            </li>

          </div>
          <div class = 'doubleCenter'>
            <li>
              <a href="/armor">Бронирование
               <span></span>
               <span></span>
               <span></span>
               <span></span></a>
            </li>

            <li>
              <a href="/order">Заказ
                <span></span>
               <span></span>
               <span></span>
               <span></span></a>
            </li>
              </div>
            </ul>
            <a href = '/admin' target='_blank'>
            <div id='goToAdmin'> </div></a>
      </div>

      <div class = 'rightHeader'>
      </div>
</div>
